<ion-header>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-thumbnail>
          <img alt="" src="/assets/stickers/estadisticas-orden.png" />
        </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-title>ESTADISTICAS DE ORDENES DE TRABAJO</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-thumbnail>
              <img src="assets/icon/analisis.png" /> </ion-thumbnail
            >&nbsp;
            <ion-text color="dark">
              <h3>ESTADO DE REPARACIONES</h3>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <h5>
                Cantidad de ordenes que tienen los siguientes estados de
                reparación:
              </h5>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col>
              <canvas id="edrChart" width="30" height="30"></canvas>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-thumbnail>
              <img src="assets/icon/analisis.png" /> </ion-thumbnail
            >&nbsp;
            <ion-text color="dark">
              <h3>TIPO DE REPARACIONES</h3>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <h5>
                Cantidad de ordenes que tienen los siguientes tipos de
                reparación:
              </h5>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col>
              <canvas id="tdrChart" width="30" height="30"></canvas>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-thumbnail>
              <img src="assets/icon/grafico-de-onda.png" /> </ion-thumbnail
            >&nbsp;
            <ion-text color="dark">
              <h3>ORDENES DE TRABAJO DEL DIA</h3>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <h5>
                Cantidad de ordenes que se han
                generado hoy:
              </h5>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-around">
            <ion-col>
              <canvas id="odtChart" width="30" height="30"></canvas>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-thumbnail>
              <img src="assets/icon/tendencia.png" />
            </ion-thumbnail>
            <ion-text color="dark">
            <h3>HISTORIAL DE ORDENES DE TRABAJO</h3>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-col>
              <h5>
                Cantidad de ordenes que se han
                generado dentro de la última semana:
              </h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <canvas id="codtChart" width="30" height="30"></canvas>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
