<ion-header>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-thumbnail>
          <img alt="" src="/assets/stickers/nueva-orden.png" />
        </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-title>NUEVA ORDEN</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper
    [pagination]="{type: 'progressbar'}"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <ion-col size="5">
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto" class="ion-align-self-center">
            <ion-thumbnail>
              <img src="/assets/icon/usuario.png" />
            </ion-thumbnail>
          </ion-col>
          <ion-col size="auto">
            <ion-text color="dark">
              <h1>DATOS DEL CLIENTE</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item fill="outline">
              <ion-label position="stacked">Nombre cliente</ion-label>
              <ion-input
                required
                [readonly]="true"
                [(ngModel)]="muestracliente.nombrecliente"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item fill="outline">
              <ion-label position="stacked">RUT</ion-label>
              <ion-input
                required
                [readonly]="true"
                [(ngModel)]="muestracliente.rutcliente"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item fill="outline">
              <ion-label position="stacked">Correo electrónico</ion-label>
              <ion-input
                [readonly]="true"
                [(ngModel)]="muestracliente.correocliente"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item fill="outline">
              <ion-label position="stacked">N° Telefónico</ion-label>
              <ion-input
                [readonly]="true"
                [(ngModel)]="muestracliente.nrotelefonocliente"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button id="click-trigger" fill="clear"
              ><ion-icon name="search-outline"></ion-icon
              >&nbsp;BUSCAR</ion-button
            >
            <ion-popover
              trigger="click-trigger"
              triggerAction="click"
              side="top"
              size="auto"
            >
              <ng-template>
                <ion-grid>
                  <ion-col>
                    <ion-item fill="outline">
                      <ion-label position="stacked">Buscar por RUT</ion-label>
                      <ion-input
                        [(ngModel)]="busquedacliente"
                        (ionChange)="handleChange($event)"
                        placeholder="99888777-6"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-list lines="none">
                    <ion-item
                      button
                      (click)="muestracliente = cliente"
                      *ngFor="let cliente of clientes"
                    >
                      <ion-col size="auto">
                        <ion-label>{{ cliente.nombrecliente }}</ion-label>
                      </ion-col>
                      &nbsp;
                      <ion-col size="auto">
                        <ion-label>{{ cliente.rutcliente }}</ion-label>
                      </ion-col>
                    </ion-item>
                  </ion-list>
                </ion-grid>
              </ng-template>
            </ion-popover>
          </ion-col>
          <ion-col size="auto">
            <ion-button id="abrir-modal-i" fill="clear"
              ><ion-icon name="person-add-outline"></ion-icon>&nbsp;NUEVO
              CLIENTE</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>
    </ng-template>
    <ng-template swiperSlide class="datosdispositivo">
      <ion-col size="5">
        <ion-grid>
          <ion-col>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto" class="ion-align-self-center">
                <ion-thumbnail>
                  <img src="/assets/icon/archivo-de-documento.png" />
                </ion-thumbnail>
              </ion-col>
              <ion-text color="dark">
                <h1>DATOS DEL DISPOSITIVO</h1>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-item fill="outline">
                  <ion-label position="stacked">Marca</ion-label>
                  <ion-input
                    [readonly]="true"
                    [(ngModel)]="muestradispositivo.marcadisp"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item fill="outline">
                  <ion-label position="stacked">Modelo</ion-label>
                  <ion-input
                    [readonly]="true"
                    [(ngModel)]="muestradispositivo.modelodisp"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="8">
                <ion-item counter="true" fill="outline">
                  <ion-label position="stacked">IMEI</ion-label>
                  <ion-input
                    inputmode="numeric"
                    maxlength="15"
                    placeholder="Digite *#06# para ver el IMEI"
                    pattern="[0-9]*"
                    type="text"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <ion-button id="click-trigger-i" fill="clear"
                  ><ion-icon name="search-outline"></ion-icon>&nbsp;BUSCAR
                </ion-button>
                <ion-popover
                  trigger="click-trigger-i"
                  triggerAction="click"
                  size="auto"
                >
                  <ng-template>
                    <ion-grid>
                      <ion-col>
                        <ion-item fill="outline">
                          <ion-label position="stacked"
                            >Buscar por modelo</ion-label
                          >
                          <ion-input
                            [(ngModel)]="busquedadispositivo"
                            (ionChange)="handleChangeII($event)"
                            placeholder="ej: S21+ 5G"
                          ></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-list lines="none">
                        <ion-item
                          button
                          (click)="muestradispositivo = dispositivo"
                          *ngFor="let dispositivo of dispositivos"
                        >
                          <ion-col size="auto">
                            <ion-label>{{ dispositivo.marcadisp }}</ion-label>
                          </ion-col>
                          &nbsp;
                          <ion-col size="auto">
                            <ion-label>{{ dispositivo.modelodisp }}</ion-label>
                          </ion-col>
                        </ion-item>
                      </ion-list>
                    </ion-grid>
                  </ng-template>
                </ion-popover>
              </ion-col>
              <ion-col size="auto">
                <ion-button id="abrir-modal-ii" fill="clear"
                  ><ion-icon name="add-outline"></ion-icon>&nbsp;NUEVO
                  DISPOSITIVO
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-grid>
      </ion-col>
    </ng-template>
    <ng-template swiperSlide class="datosingreso">
      <ion-grid>
        <ion-col size="auto">
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" class="ion-align-self-center">
              <ion-thumbnail>
                <img src="/assets/icon/etiquetas.png" />
              </ion-thumbnail>
            </ion-col>
            <ion-text color="dark">
              <h1>DATOS DE INGRESO</h1>
            </ion-text>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-list lines="none">
                <ion-list-header lines="full">
                  <ion-label color="dark"
                    >EL DISPOSITIVO INGRESA CON:</ion-label
                  >
                </ion-list-header>
                <ion-row>
                  <ion-col size="auto">
                    <ion-item>
                      <ion-label>SIM</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.ingresasim"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Tarjeta de memoria</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.ingresatarjeta"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Batería</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.ingresabateria"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Tapa trasera</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.ingresatapa"
                      ></ion-toggle>
                    </ion-item>
                  </ion-col>
                  <ion-col size="auto">
                    <ion-item>
                      <ion-label>Cable USB</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.ingresacableusb"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Cargador</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.ingresacargador"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Lápiz táctil</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.ingresaspen"
                      ></ion-toggle>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-col>
            <ion-col size="auto">
              <ion-list fill="outline" lines="none">
                <ion-list-header lines="full">
                  <ion-label color="dark"
                    >FUNCIONES DEL DISPOSITIVO ACTIVAS:</ion-label
                  >
                </ion-list-header>
                <ion-row>
                  <ion-col size="auto">
                    <ion-item fill="outline">
                      <ion-label>Encendido</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.funcionencendido"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Carga</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.funcioncarga"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Imagen</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.funcionimagen"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Táctil</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.funciontactil"
                      ></ion-toggle>
                    </ion-item>
                  </ion-col>
                  <ion-col size="auto">
                    <ion-item>
                      <ion-label>Microfono</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.funcionmicrofono"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Auricular</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.funcionauricular"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Parlante</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.funcionparlante"
                      ></ion-toggle>
                    </ion-item>
                    <ion-item>
                      <ion-label>Cámara</ion-label>
                      <ion-toggle
                        [enableOnOffLabels]="true"
                        slot="end"
                        [(ngModel)]="inforden.funcioncamara"
                      ></ion-toggle>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item fill="outline">
                <ion-label position="floating">Observaciones</ion-label>
                <ion-textarea
                  [(ngModel)]="inforden.observaciones"
                ></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ng-template>
    <ng-template swiperSlide class="diagnostico">
      <ion-col size="8">
        <ion-grid>
          <ion-col size="auto">
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto" class="ion-align-self-center">
                <ion-thumbnail>
                  <img src="/assets/icon/rastreador-de-fitness.png" />
                </ion-thumbnail>
              </ion-col>
              <ion-text color="dark">
                <h1>DIAGNOSTICO</h1>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item fill="outline">
                  <ion-label position="stacked"
                    >Problemas del dispositivo</ion-label
                  >
                  <ion-textarea
                    placeholder="Explique la razón y problemas por los que ingresa el dispositivo al taller"
                  ></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-list lines="none">
                  <ion-list-header>
                    <ion-label color="dark">TIPO DE INGRESO</ion-label>
                  </ion-list-header>
                  <ion-radio-group
                    [allowEmptySelection]="false"
                    [(ngModel)]="ingreso"
                    (ionChange)="tipoingreso()"
                  >
                    <ion-row class="ion-justify-content-between">
                      <ion-item>
                        <ion-label>Revisión</ion-label>
                        <ion-radio slot="end" value="Revision"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>Reparación</ion-label>
                        <ion-radio slot="end" value="Reparacion"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>Mantención</ion-label>
                        <ion-radio slot="end" value="Mantencion"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>Garantia</ion-label>
                        <ion-radio slot="end" value="Garantia"></ion-radio>
                      </ion-item>
                    </ion-row>
                  </ion-radio-group>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-grid>
      </ion-col>
    </ng-template>
    <ng-template swiperSlide class="reparacion">
      <ion-col size="12">
        <ion-grid>
          <ion-row>
            <ion-col size="4.2">
              <ion-card>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="auto" class="ion-align-self-center">
                      <ion-thumbnail>
                        <img src="/assets/icon/ajustes.png" />
                      </ion-thumbnail>
                    </ion-col>
                    <ion-text color="dark">
                      <h5>DATOS DE REPARACIÓN</h5>
                    </ion-text>
                  </ion-row>
                  <ion-row
                    class="ion-justify-content-between ion-align-items-center"
                  >
                    <ion-col size="auto">
                      <ion-label>Fecha estimada de entrega:</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-datetime-button
                        datetime="datetime"
                      ></ion-datetime-button>
                      <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                          <ion-datetime id="datetime"></ion-datetime>
                        </ng-template>
                      </ion-modal>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-list>
                        <ion-list-header>
                          <ion-label color="dark">ABONO</ion-label>
                        </ion-list-header>
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="auto">
                            <ion-item lines="none">
                              <ion-label position="stacked">$</ion-label>
                            </ion-item>
                          </ion-col>
                          <ion-col size="auto">
                            <ion-item fill="outline">
                              <ion-label position="stacked"
                                >Cantidad de abono</ion-label
                              >
                              <ion-input
                                type="number"
                                placeholder="Abono mínimo $5.000"
                                [(ngModel)]="inforden.abono"
                              ></ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-list>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-list>
                        <ion-list-header>
                          <ion-label color="dark">TECNICO</ion-label>
                        </ion-list-header>
                        <ion-row class="ion-justify-content-center">
                          <ion-button id="click-trigger-ii" fill="clear"
                            ><ion-icon name="search-outline"></ion-icon
                            >&nbsp;BUSCAR TECNICO
                          </ion-button>
                          <ion-popover
                            trigger="click-trigger-ii"
                            triggerAction="click"
                            size="auto"
                          >
                            <ng-template>
                              <ion-grid>
                                <ion-list lines="none">
                                  <ion-item
                                    button
                                    (click)="muestratecnico = tecnico"
                                    *ngFor="let tecnico of tecnicos"
                                  >
                                    <ion-col size="auto">
                                      <ion-label
                                        >{{ tecnico.nombre }}</ion-label
                                      >
                                    </ion-col>
                                  </ion-item>
                                </ion-list>
                              </ion-grid>
                            </ng-template>
                          </ion-popover>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <ion-item fill="outline">
                              <ion-label position="stacked"
                                >Tecnico asignado</ion-label
                              >
                              <ion-input
                                [readonly]="true"
                                [(ngModel)]="muestratecnico.nombre"
                              ></ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-list>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="7.8">
              <ion-card>
                <ion-grid>
                  <ion-row
                    class="ion-justify-content-center ion-align-items-center"
                  >
                    <ion-col size="auto" class="ion-align-self-center">
                      <ion-thumbnail>
                        <img src="/assets/icon/ajustes.png" />
                      </ion-thumbnail>
                    </ion-col>
                    <ion-text color="dark">
                      <h5>RESUMEN</h5>
                    </ion-text>
                  </ion-row>
                  <ion-list lines="none">
                    <ion-row>
                      <ion-col size="9">
                        <ion-item>
                          <ion-chip outline="true">Repuesto/Servicio</ion-chip>
                        </ion-item>
                      </ion-col>
                      <ion-item>
                        <ion-col size="3">
                          <ion-chip outline="true">Valor</ion-chip>
                        </ion-col>
                      </ion-item>
                    </ion-row>
                    <ion-item>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="10">
                            {{muestrainventario.nombrers}}
                            {{muestrainventario.marca}}
                            {{muestrainventario.modelo}}
                            {{muestrainventario.variante}}
                          </ion-col>
                          <ion-col size="2">
                            {{muestrainventario.valor}}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </ion-list>
                </ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-button id="abrir-modal-iii" fill="clear"
                    ><ion-icon name="construct-outline"></ion-icon>
                    &nbsp;SELECCIONAR REPUESTO Y/O SERVICIO</ion-button
                  >
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="auto">
                    <ion-item lines="none">
                      <ion-checkbox slot="start"></ion-checkbox>
                      <ion-button id="open-modal" fill="clear"
                        >Acepta las condiciones del servicio técnico</ion-button
                      >
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="auto">
                    <ion-item lines="none">
                      <ion-checkbox slot="start"></ion-checkbox>
                      <ion-button fill="clear"
                        >Acepta el envío de este documento a correo</ion-button
                      >
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-between">
                  <ion-col size="auto">
                    <ion-label>Fecha de hoy</ion-label>
                    <ion-datetime-button
                      class="ion-datetime-button"
                      datetime="datetime1"
                    ></ion-datetime-button>
                    <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                        <ion-datetime id="datetime1"></ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </ion-col>
                  <ion-col size="auto">
                    <ion-button fill="clear" (click)="generarorden()"
                      >Finalizar</ion-button
                    >
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ng-template>
  </swiper>

  <!--CONDICIONES DEL SERVICIO TECNICO-->
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-text>
              <h1>CONDICIONES DEL SERVICIO TECNICO</h1>
            </ion-text>
            <p>
              Aquí se despliegan las condiciones que el administrador allá
              configurado, pudiendo ser una estándar o una que el mismo
              administrador redacte
            </p>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!--AÑADIR DISPOSITIVO-->
  <ion-modal trigger="abrir-modal-ii">
    <ng-template>
      <ion-content>
        <form #formularioDispositivo="ngForm">
          <ion-row class="ion-justify-content-center">
            <ion-text color="dark">
              <h1>NUEVO DISPOSITIVO</h1>
            </ion-text>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-text color="dark">
              <h5>Escriba los datos del nuevo dispositivo</h5>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item
                fill="outline"
                [class.ion-invalid]="dispositivoInput.invalid && dispositivoInput.touched"
              >
                <ion-label position="stacked">Marca</ion-label>
                <ion-input
                  name="marcadispositivo"
                  #dispositivoInput="ngModel"
                  [(ngModel)]="datosdispositivo.marcadisp"
                  required
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item
                fill="outline"
                [class.ion-invalid]="dispositivoModeloInput.invalid && dispositivoModeloInput.touched"
              >
                <ion-label position="stacked">Modelo</ion-label>
                <ion-input
                  name="modelodispositivo"
                  #dispositivoModeloInput="ngModel"
                  [(ngModel)]="datosdispositivo.modelodisp"
                  required
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-button
              fill="clear"
              (click)="guardardispositivo(formularioDispositivo)"
              ><ion-icon name="save-outline"></ion-icon
              >&nbsp;GUARDAR</ion-button
            >
          </ion-row>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<!--AÑADIR CLIENTE-->
<ion-modal trigger="abrir-modal-i">
  <ng-template>
    <ion-content>
      <form #formularioCliente="ngForm">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-text color="dark">
              <h1>NUEVO CLIENTE</h1>
            </ion-text>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-text color="dark">
              <h5>Escriba los datos del nuevo cliente</h5>
            </ion-text>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col>
              <ion-item
                fill="outline"
                [class.ion-invalid]="nombreInput.invalid && nombreInput.touched"
              >
                <ion-label position="stacked">Nombre completo</ion-label>
                <ion-input
                  name="nombrecliente"
                  #nombreInput="ngModel"
                  [(ngModel)]="datoscliente.nombrecliente"
                  placeholder="ej: Victor Sepulveda Brito"
                  required
                ></ion-input>
              </ion-item>
              <ion-note
                slot="error"
                color="danger"
                *ngIf="nombreInput.invalid && nombreInput.touched"
              >
                Este campo es obligatorio
              </ion-note>
            </ion-col>

            <ion-col>
              <ion-item fill="outline">
                <ion-label position="stacked">RUT</ion-label>
                <ion-input
                  name="rutcliente"
                  #rutInput="ngModel"
                  [(ngModel)]="datoscliente.rutcliente"
                  pattern="^[0-9]{7,8}-[0-9kK]$"
                  placeholder="99888777-6"
                  required
                ></ion-input>
              </ion-item>
              <ion-note
                slot="error"
                *ngIf="rutInput.errors?.['required'] && rutInput.touched"
              >
                Este campo es obligatorio
              </ion-note>
              <ion-note
                slot="error"
                *ngIf="rutInput.errors?.['pattern'] && rutInput.touched"
              >
                El RUT debe tener el formato 99888777-6
              </ion-note>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col>
              <ion-item fill="outline">
                <ion-label position="stacked">Correo electrónico</ion-label>
                <ion-input
                  name="correocliente"
                  [(ngModel)]="datoscliente.correocliente"
                  type="email"
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item fill="outline">
                <ion-label position="stacked">N° de teléfono</ion-label>
                <ion-input
                  name="nrotelefonocliente"
                  [(ngModel)]="datoscliente.nrotelefonocliente"
                  type="tel"
                  placeholder="912345678"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col>
              <ion-item fill="outline">
                <ion-label position="stacked">Comuna</ion-label>
                <ion-input
                  name="comunacliente"
                  [(ngModel)]="datoscliente.comunacliente"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-button
              fill="clear"
              (click)="guardarcliente(formularioCliente)"
            >
              <ion-icon name="save-outline"></ion-icon>&nbsp;GUARDAR
            </ion-button>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<!--AÑADIR REPUESTO-->
<ion-modal trigger="abrir-modal-iii">
  <ng-template>
    <ion-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-title>SELECCIONAR REPUESTO O SERVICIO</ion-title>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-card>
              <ion-row>
                <ion-item>
                  <ion-label position="stacked">Buscar por modelo</ion-label>
                  <ion-input
                    [(ngModel)]="busquedainventario"
                    (ionChange)="handleChangeIII($event)"
                    placeholder="ej: iPhone 11"
                  >
                  </ion-input>
                </ion-item>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-list lines="full">
          <ion-row class="ion-justify-content-between">
            <ion-col size="5.7">
              <ion-item>
                <ion-chip>Repuesto/servicio</ion-chip>
              </ion-item>
            </ion-col>
            <ion-col size="2.8">
              <ion-item>
                <ion-chip>Cantidad</ion-chip>
              </ion-item>
            </ion-col>
            <ion-col size="2.3">
              <ion-item>
                <ion-chip>Valor</ion-chip>
              </ion-item>
            </ion-col>
            <ion-col size="1.2"> &nbsp; </ion-col>
          </ion-row>
          <ion-item *ngFor="let repuesto of repuestos">
            <ion-grid>
              <ion-row class="ion-justify-content-between">
                <ion-col size="6.3">
                  {{repuesto.nombrers}} {{repuesto.marca}} {{repuesto.modelo}}
                  {{repuesto.variante}}
                </ion-col>
                <ion-col size="2.2"> {{repuesto.cantidad}} </ion-col>
                <ion-col size="2.3"> {{repuesto.valor}} </ion-col>
                <ion-col size="1.2">
                  <ion-button
                    fill="clear"
                    (click)="muestrainventario = repuesto"
                  >
                    <ion-icon name="add-circle"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
