<ion-header>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-thumbnail>
          <img alt="" src="/assets/stickers/config-admin.png" />
        </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-title>CONFIGURACION DE SERVICIO TECNICO</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [pagination]="{type: 'progressbar'}" [navigation]="true" class="mySwiper">
    <ng-template swiperSlide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <h1>Datos de {{taller.nombretaller}}</h1>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="2">
            <ion-img src="/assets/icon/logo-taller.png"></ion-img>
            <ion-row class="ion-justify-content-center">
              <ion-button fill="outline" (click)="editarcliente()">
                <ion-icon name="arrow-up-circle-outline"></ion-icon>&nbsp;SUBIR LOGO</ion-button>
            </ion-row>
          </ion-col>
          <ion-col size="4.5">
            <ion-row class="arreglo">

            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="4">
                <ion-item>
                  <ion-label position="stacked">Nombre taller</ion-label>
                  <ion-input readonly="true">{{taller.nombretaller}}</ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item>
                  <ion-label position="stacked">RUT Empresa</ion-label>
                  <ion-input readonly="true">{{taller.rutempresa}}</ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="7">
                <ion-item>
                  <ion-label position="stacked">Correo electrónico</ion-label>
                  <ion-input readonly="true"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="5">
                <ion-item>
                  <ion-label position="stacked">N° de teléfono</ion-label>
                  <ion-input readonly="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Dirección</ion-label>
                  <ion-input readonly="true">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-button fill="outline" (click)="editarcliente()"><ion-icon
                  name="create-outline"></ion-icon>&nbsp;EDITAR
                DATOS</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template swiperSlide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <h1>Datos para función "Videos"</h1>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
          <h5>Como administrador de tu taller puedes escoger utilizar nuestra función "Videos" para mostrar a tus clientes
            las grabaciones que realizas al reparar sus dispositivos</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          
        </ion-row>
      </ion-grid>
    </ng-template>
  </swiper>
</ion-content>